---
import "../../styles/content/diagram-viewer.css";

const { content } = Astro.props;
---

<section class="diagram-viewer">

    <img
        src={content.image}
        alt={content.title}
        loading="lazy"
    />

</section>