---
import "../../styles/content/content-body.css";

const { content } = Astro.props;
---

<section class="content-body">

    <h2>Tentang Video</h2>

    <p>

        {content.description}

    </p>

</section>