---
import "../../styles/sections/featured-video.css";
import SectionTitle from "../ui/SectionTitle.astro";
import VideoCard from "../cards/VideoCard.astro";
import { videos } from "../../data/videos";
const featuredVideos = [...videos]
    .slice(0,3);

---

<section class="featured-video section">

    <div class="container">

        <SectionTitle
            title="🎥 Video Terbaru"
            href="/video"
        />

        <div class="video-grid">

            {
                featuredVideos.map(video => (
                    <VideoCard {...video} />
                ))
            }

        </div>

    </div>

</section>