---
import "../../styles/sections/hero.css";
import Button from "../ui/Button.astro";
import Badge from "../ui/Badge.astro";
import HeroBlueprint from "../hero/HeroBlueprint.astro";
---

<section class="hero">

  <div class="container">

    <div class="hero-wrapper">

      <!-- KIRI -->
      <div class="hero-content">

        <Badge>
          🚗 Belajar Otomotif Tanpa Bahasa yang Rumit
        </Badge>

        <h1>
          Belajar Cara Kerja
          <br />
          Mobil Modern
          <br />
          Secara Visual.
        </h1>

        <p>
          Belajar sistem ECU, sensor, mesin,
          kelistrikan, dan teknologi kendaraan modern
          melalui video, artikel serta infografis.
        </p>

        <div class="hero-buttons">

          <Button href="/video">
            Mulai Belajar
          </Button>

          <Button
            href="/diagram"
            variant="secondary">

            Lihat Diagram

          </Button>

        </div>

        <div class="stats">

          <div>

            <h2>100+</h2>

            <span>Artikel Edukasi</span>

          </div>

          <div>

            <h2>50+</h2>

            <span>Video Pembelajaran</span>

          </div>

          <div>

            <h2>20+</h2>

            <span>Infografis Interaktif</span>

          </div>

        </div>

      </div>

      <!-- KANAN -->
      <div class="hero-visual">

        <HeroBlueprint />

      </div>

    </div>

  </div>

</section>