---
import "../../styles/sections/latest-articles.css";
import SectionTitle from "../ui/SectionTitle.astro";
---

<section class="latest-articles section">

    <div class="container">

        <SectionTitle

title="📰 Artikel Terbaru"

href="/article"

/>

        <div class="article-featured">

            <div class="article-image">

                📰

            </div>

            <div class="article-content">

                <span class="category">
                    EDUKASI
                </span>

                <h3>
                    Artikel AutoLogika
                </h3>

                <p>

                    Sedang Dalam Pengembangan.

                </p>

                <a href="/article" class="btn">
                Baca Artikel
            </a>

            </div>

        </div>

    </div>

</section>