---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/sections/Navbar.astro";
import PageHeader from "../components/ui/PageHeader.astro";
import VideoCard from "../components/cards/VideoCard.astro";
import "../styles/sections/featured-video.css";
import { videos } from "../data/videos";
import "../styles/layout/grid.css";
---

<BaseLayout title="Video | AutoLogika">

    <Navbar />

    <section class="section">

        <div class="container">

            <PageHeader
            badge="🎬 Seri Video AutoLogika.id"
            title="Belajar Otomotif Melalui Video"
            description="Kumpulan video edukasi AutoLogika.id yang membahas sistem kendaraan modern secara visual, sederhana, dan mudah dipahami."
            />

            <div class="video-grid">

                {
                    videos.map(video => (

                        <VideoCard {...video} />

                    ))
                }

            </div>

        </div>

    </section>

</BaseLayout>