---
import "../../styles/sections/featured-diagram.css";
import SectionTitle from "../ui/SectionTitle.astro";
import DiagramCard from "../cards/DiagramCard.astro";
import { diagrams } from "../../data/diagrams";
---

<section class="diagram section">

<div class="container">

<SectionTitle

title="📊 Infografis"

href="/diagram"

/>

<div class="diagram-grid">

    {
        diagrams
            .filter(diagram => diagram.featured)
            .map(diagram => (

                <DiagramCard

                    {...diagram}

                    href={`/diagram/${diagram.slug}`}

                />

            ))
    }

</div>

</div>

</section>