---
import "../../styles/navbar.css";

const currentPath = Astro.url.pathname;

const menus = [
  { name: "Home", href: "/" },
  { name: "Artikel", href: "/article" },
  { name: "Video", href: "/video" },
  { name: "Infografis", href: "/diagram" },
  { name: "Tentang", href: "/about" },
  { name: "Kontak", href: "/kontak" },
];
---

<header class="navbar" id="navbar">

  <div class="container nav-container">

    <a href="/" class="logo">
      <img
        src="/logo.webp"
        alt="AUTOLOGIKA.ID"
        class="logo-image"
      />
    </a>

    <button
      id="menu-button"
      class="menu-button"
      aria-label="Toggle Navigation">

      ☰

    </button>

    <nav id="mobile-nav">

      <ul class="nav-menu">

        {
          menus.map((item) => (

            <li>

              <a
                href={item.href}
                class={currentPath === item.href ? "active" : ""}>

                {item.name}

              </a>

            </li>

          ))
        }

      </ul>

    </nav>

  </div>

</header>

<script is:inline>

const button = document.querySelector("#menu-button");
const nav = document.querySelector("#mobile-nav");

button?.addEventListener("click",()=>{

    nav?.classList.toggle("open");

    button.textContent =
        nav?.classList.contains("open")
        ? "✕"
        : "☰";

});

window.addEventListener("scroll",()=>{

    const navbar=document.querySelector("#navbar");

    if(window.scrollY>30){

        navbar?.classList.add("scrolled");

    }else{

        navbar?.classList.remove("scrolled");

    }

});

document.querySelectorAll(".nav-menu a").forEach(link=>{

    link.addEventListener("click",()=>{

        nav?.classList.remove("open");

        button.textContent="☰";

    });

});

</script>