/* ==========================================
   HERO SCENE
========================================== */

.hero-scene{

    position:relative;

    width:min(650px, 90vw);

    aspect-ratio:1 / 1;

    margin:auto;

}

/* ==========================================
   BLUEPRINT CONTAINER
========================================== */

.scene-blueprint{

    position:relative;

    width:min(650px, 90vw);

    aspect-ratio:1 / 1;

    margin-left:auto;

    animation:blueprintAppear 1.2s ease-out;

}

/* ==========================================
   LAYER POSITION
========================================== */

.scene-grid,
.scene-circuit,
.scene-glow,
.scene-hud,
.scene-car,
.scene-ecu,
.sensor{

    position:absolute;

}