.video-player{

    margin:60px auto;

}

.video-wrapper{

    max-width:1000px;

    margin:0 auto;

    border-radius:24px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
        0 20px 60px rgba(0,0,0,.35);

}

.video-wrapper iframe{

    display:block;

    width:100%;

    aspect-ratio:16/9;

    border:0;

}