.hero{

padding:60px 0 40px;

position:relative;

overflow:hidden;

}

.hero-wrapper{
    display:grid;
    grid-template-columns:560px 1fr;
    align-items:center;
    gap:60px;
    min-height:720px;
}

.hero-content{
    max-width:560px;
    z-index:20;
}

.hero h1{
font-size:58px;
line-height:1.1;
margin-bottom:20px;
}

.hero p{
font-size:18px;
color:var(--text-secondary);
line-height:1.7;
margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:18px;

    margin-bottom:35px;

}

.stats{

    display:flex;

    gap:42px;

    margin-top:55px;

}

.stats div{

    display:flex;

    flex-direction:column;

}

.stats h2{
color:var(--primary);
margin:0;
font-size:34px;
}

.stats span{
color:var(--text-secondary);
}

.hero-visual{

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    width:100%;

}

@media (max-width:1100px){

    .hero-wrapper{

        grid-template-columns:1fr;

        gap:50px;

        text-align:center;

    }

    .hero-content{

        max-width:700px;

        margin:auto;

    }

    .hero-buttons{

        justify-content:center;

    }

    .stats{

        justify-content:center;

    }

    .hero-visual{

    height:520px;

    margin-top:20px;

}

}
