---
const { title = "AutoLogika | Belajar Otomotif Modern" } = Astro.props;
import "../styles/base/global.css";
import "../styles/base/background.css";
import "../styles/base/layout.css";
import Footer from "../components/sections/Footer.astro";
---

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>{title}</title>

    <meta
        name="description"
        content="Belajar otomotif modern melalui artikel, video, dan infografis yang mudah dipahami."
    />
    <link
    rel="icon"
    type="image/webp"
    href="/favicon.webp"
    />
</head>

<body>

    <div class="bg-system">

        <div class="bg-grid"></div>

        <div class="bg-noise"></div>

        <div class="bg-glow bg-glow-red"></div>

        <div class="bg-glow bg-glow-blue"></div>

    </div>

    <main class="site-content">

        <slot />

    </main>

    <Footer />

</body>

</html>