/* ======================================
   GLOBAL LAYOUT
====================================== */

.container{

    width:min(1200px,92%);

    margin-inline:auto;

}

.section{

    padding:50px 0;

}